menu "Wifi configuration"
  config WIFI_SSID
    string "SSID name"
    default ""
    help
      The name of the network to connect to
  config WIFI_PASSWORD
    string "Password for WiFi"
    default ""
    help
      The password to use when connecting to wifi
endmenu

menu "MQTT configuration"
  config MQTT_URL
    string "MQTT URL"
    default ""
    help
      The name of the network to connect to
  config MQTT_USERNAME
    string "Username for MQTT auth"
    default ""
    help
      The username to use for connecting to MQTT
  config MQTT_PASSWORD
    string "Password for MQTT auth"
    default ""
    help
      The username to use for connecting to MQTT
endmenu