html {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Fell", serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Fell", serif;
  font-style: normal;
  font-weight: 400;
  src: url("/font/IMFellGreatPrimer-Regular.ttf");
}

@font-face {
  font-family: "Fell", serif;
  font-style: italic;
  font-weight: 400;
  src: url("/font/IMFellGreatPrimer-Italic.ttf");
}

@font-face {
  font-family: "Splash", cursive;
  font-style: normal;
  font-weight: 400;
  src: url("/font/Splash-Regular.ttf");
}
